streamlit~=1.47.1
requests~=2.32.4
pydantic
soundfile
streamlit-audiorecorder
fastapi~=0.116.1
uvicorn
faster-whisper
soundfile
python-multipart
pydub~=0.25.1
chromadb~=1.0.15
pinecone-client
pinecone~=7.3.0
python-dotenv~=1.1.1